.footer{
    background-color: #ffff;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px rgb(236, 233, 233) solid;
    box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}