.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    color: #0D1117;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}