.header {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px rgb(236, 233, 233) solid;
    box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.3);
}