.main{
    font-size: 25px;
    background-color: #ffff;
    align-items: center;
    display: flex;
    margin: 10% 40%;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    padding: 20px;
}

li {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 20px;
    border: 0.2px solid rgb(216, 215, 215);
    
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}