body {
  align-items: center;
  text-align: center;
  background-color: #F7F7F9 ;
}



.footercontainer {
  width: 100%;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.header {
  background-color: #ffff;
}